<!DOCTYPE html>
<html lang="en">
<head onclick="getStyle()">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addresses</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
</head>
<body >
    <div id="navbar"></div>
    <h2>Available Addresses</h2>
    <h3>Use this page to manage addresses in the system</h3>

    <table>
        <thead>
            <tr>
                <th>Address ID</th>
                <th>Description</th>
                <th>Line 1</th>
                <th>Line 2</th>
                <th>Line 3</th>
                <th>Line 4</th>
            </tr>
        </thead>
        <tbody>
            {% for addr in addresses %}
                <tr>
                    <td>{{addr[0]}}</td>
                    <td>{{addr[5]}}</td>
                    <td>{{addr[1]}}</td>
                    <td>{{addr[2]}}</td>
                    <td>{{addr[3]}}</td>
                    <td>{{addr[4]}}</td>
                    <td><a href="/admin/addresses/edit/{{addr[0]}}" class="nav">Edit</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="/admin/addresses/new" class="nav">+</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>