<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
</head>
<body onload = "getStyle()">
    <div id="navbar"></div>
    <br>
    <form action="/admin/users/edit/{{seq}}" method="post">
    <label for="userName">Name</label>
    <input type="text" name="userName" id="userName" value="{{user[0]}}"> <br><br>
    <label for="UserID">User ID</label>
    <input type="password" name="UserID" id="UserID" value="{{user[1]}}"> <input type="checkbox" onclick="togglePassword()"> Show Password<br><br>
    <label for="emailID">Email</label>
    <input type="email" name="emailID" id="emailID" value="{{user[2]}}"><br><br>
    <label for="theme">Theme ID</label> <input type="number" name="theme" id="theme" class="narrow" value="{{user[12]}}">
    <h1>Permissions</h1>
    <table>
        <tr>
            <th colspan="3">Invoices</th>
            <th colspan="3">Docket</th>
            <th>Admin</th>
            <th colspan="2">User Settings</th>
        </tr>
        <tr>
            <th>R</th>
            <th>W</th>
            <th>A</th>
            <th>R</th>
            <th>W</th>
            <th>A</th>
            <th>U</th>
            <th>Approve</th>
            <th>Emails</th>
        </tr>
        <tr>
            <th><input type="checkbox" name="RI" id="RI" {% if user[4] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="EI" id="EI" {% if user[3] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="AI" id="AI" {% if user[7] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="RD" id="RD" {% if user[6] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="ED" id="ED" {% if user[5] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="AD" id="AD" {% if user[8] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="UA" id="UA" {% if user[10] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="AP" id="AP" {% if user[9] == 1 %}
                checked
            {% endif %}></th>
            <th><input type="checkbox" name="RE" id="RE" {% if user[11] == 1 %}
                checked
            {% endif %}></th>

        </tr>
    </table>

    <input type="submit" value="Update User">
    </form>

    <style>
        .narrow{
            width: 3rem;
        }
    </style>
</body>
</html>