<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Docket ID #{{record.docket_id}}</title>
    <link rel="icon" type="image/x-icon" href="/docket/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/invoices/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>

</head>
<body onload = "getStyle()">
<div id="navbar"></div>
    <h1>Edit Docket ID {{record.docket_id}}</h1>
        

    <form action="/docket/edit/{{record.docket_id}}" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{record.title}}"> <br> <br>
        <label for="description">Description</label> <br>
        <textarea name="description" id="description" cols="32" rows="10">{{record.description}}</textarea> <br> <br>

        {% if isAdmin %}
            
        <label for="status">Status</label>
    
            <select name="status" id="status">
                <option value="1" {% if record.status == "In Progress" %} selected {% endif %}>In Progress</option>
                <option value="2" {% if record.status == "Complete" %} selected {% endif %}>Complete</option>
            </select> <br> <br>
            <!-- Add boxes for voting results (In favor, Opposed, Abstained)-->
            <label for="in_favor">In Favor</label>
            <input type="number" name="in_favor" id="in_favor" value="{{record.in_favor}}"> <br> <br>
            <label for="opposed">Opposed</label>
            <input type="number" name="opposed" id="opposed" value="{{record.opposed}}"> <br> <br>
            <label for="abstained">Abstained</label>
            <input type="number" name="abstained" id="abstained" value="{{record.abstained}}"> <br> <br>
            <input type="submit" value="Update">
        {% endif %}

        </form>

    <a id="nav" href="/docket/">Back to Docket</a>
</body>
<style>
    li {
        float: left;
      }
      
      #nav {
        display: block;
        padding: 8px;
        color: #66FF66;
        background-color: #282828;
      }
      #nav:hover {
        background-color: #66FF66;
        color: #282828;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
</style>
</html>