<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addresses</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body onload="getStyle()">
    <div id="navbar"></div>
    <table>
        <tr>
            <th>Name</th>
            <th>Line 1</th>
            <th>Line 2</th>
            <th>Line 3</th>
            <th>Line 4</th>
            <th>Edit</th>
        </tr>
        {% for addr in addresses %}
            <tr>
                <td>{{addr[5]}}</td>
                <td>{{addr[1]}}</td>
                <td>{{addr[2]}}</td>
                <td>{{addr[3]}}</td>
                <td>{{addr[4]}}</td>
                <td><a class="nav" href="/admin/addresses/edit/{{addr[0]}}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>