<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Addr {{addr[0]}}</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
</head>
<body onload="getStyle()">
    <div id="navbar"></div>
    <form action="/admin/addresses/edit/{{address[0]}}" method="post">
    <label for="addrName">Description</label> <input type="text" name="addrName" id="addrName" value="{{address[5]}}"> <br>
    <label for="addrName">Line 1</label> <input type="text" name="addrName" id="addrName" value="{{address[1]}}"> <br>
    <label for="addrName">Line 2</label> <input type="text" name="addrName" id="addrName" value="{{address[2]}}"> <br>
    <label for="addrName">Line 3</label> <input type="text" name="addrName" id="addrName" value="{{address[3]}}"> <br>
    <label for="addrName">Line 4</label> <input type="text" name="addrName" id="addrName" value="{{address[4]}}"> <br>
    <input type="submit" value="Update">
    </form>
</body>
</html>