<!DOCTYPE html>
<html lang="en">
<head>
    <!-- NO CACHE! -->
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/invoices/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{id}}</title>
    <script src="/invoices/invUtils.js"></script>
    <script>
        let products;
        class Address{
            constructor(desc, addr1, addr2, addr3, addr4){
                this.desc = desc
                this.addr1 = addr1
                this.addr2 = addr2
                this.addr3 = addr3
                this.addr4 = addr4
            }
        }

        let addresses = [];
        function AddRow(){
            let table = document.getElementById("products")
            let row = table.insertRow()
            let rowID = table.rows.length - 2
            row.insertCell().innerText = rowID
            row.insertCell().innerHTML = `<input type="text" id="prod${rowID}">`
            row.insertCell().innerHTML = `<input type="text" id="price${rowID}" onChange="updateTotal()">`
            row.insertCell().innerHTML = `<input type="text" id="qty${rowID}" onChange="updateTotal()">`
            row.insertCell().innerHTML = `<button onClick="removeRow(${rowID})">x</button>`

        }
        
    function updateBoxes(){
        document.getElementById("RA1").value = "{{return_addr[0]}}";
        document.getElementById("RA2").value = "{{return_addr[1]}}";
        document.getElementById("RA3").value = "{{return_addr[2]}}";
        document.getElementById("RA4").value = "{{return_addr[3]}}";
        document.getElementById("ID").value = "{{id}}";
        document.getElementById("creator").value = "{{creator}}";
        document.getElementById("approver").value = "{{approver}}";
        let date = new Date("{{date}}")
        let timezoneOffset = date.getTimezoneOffset() * 60000
        date = new Date(date.getTime() + timezoneOffset)
        document.getElementById("createDate").value = `${date.getFullYear()}-${date.getMonth()+1 < 10 ? 0 : ""}${date.getMonth()+1}-${date.getDate() < 10 ? 0 : ""}${date.getDate()}`;
        
        document.getElementById("{{type}}").checked = true;
        document.getElementById("{{status}}").checked = true;

        document.getElementById("taxes").value = "{{tax}}";
        document.getElementById("fees").value = "{{fees}}";
        document.getElementById("total").value = "{{total}}";

        {% if type=="sga_budget" %}
            document.getElementById("RA1").disabled = true;
            document.getElementById("RA2").disabled = true;
            document.getElementById("RA3").disabled = true;
            document.getElementById("RA4").disabled = true;

            document.getElementById("RA1").value = "";
            document.getElementById("RA2").value = "";
            document.getElementById("RA3").value = "";
            document.getElementById("RA4").value = "";
            
        {% endif %}
        // products = []
        // {% for product in li %}
        // products.push({line: "{{product.line}}", description: "{{product.desc}}", unit_price: "{{product.ammt}}", quantity: "{{product.qty}}"})
        // {% endfor %}
        
        // let table = document.getElementById("products");
        // for(let i = 0; i < products.length; i++){
        //                 let row = table.insertRow();
        //     let cell1 = row.insertCell();
        //     let cell2 = row.insertCell();
        //     let cell3 = row.insertCell();
        //     let cell4 = row.insertCell();
        //     let cell5 = row.insertCell();
        //     cell1.innerHTML = products[i].line;
        //     cell2.innerHTML = `<input type='text' onchange='updateTotal()' id='prod${i+1}'>`;
        //     cell2.firstChild.value = products[i].description;
        //     cell3.innerHTML = `<input type='text' onchange='updateTotal()' id="price${i+1}">`;
        //     cell3.firstChild.value = products[i].unit_price;
        //     cell4.innerHTML = `<input type='text' onchange='updateTotal()' id="qty${i+1}">`;
        //     cell4.firstChild.value = products[i].quantity;

        //     cell5.innerHTML = `<button onclick="RemoveRow(${i+1})">x</button>`;
        // }

        {% for item in valid_addr %}
            addresses.push(new Address("{{item[5]}}", "{{item[1]}}", "{{item[2]}}", "{{item[3]}}", "{{item[4]}}"))
        {% endfor %}
        let option = document.getElementById("addrDropdown")
        let RA1 = document.getElementById("RA1")
        let RA2 = document.getElementById("RA2")
        let RA3 = document.getElementById("RA3")
        let RA4 = document.getElementById("RA4")
        addresses.forEach( elt => {
            if(
                RA1.value == elt.addr1 &&
                RA2.value == elt.addr2 &&
                RA3.value == elt.addr3 &&
                RA4.value == elt.addr4
            ){
                option.value = elt.desc
                RA1.disabled = true
                RA2.disabled = true
                RA3.disabled = true
                RA4.disabled = true
            }
        })

    }
    function updateTotal(){
        // Iterate through the table and calculate the total
        let table = document.getElementById("products")
        let total = 0
        for(let i = 1; i < table.rows.length; i++){
            console.error(i)
            let price = parseFloat(document.getElementById(`price${i}`).value)
            let qty = parseFloat(document.getElementById(`qty${i}`).value)
            
            total += isNaN(price) || isNaN(qty) ? 0 : price * qty
        }
        // Add on the taxes and fees
        let tax = parseFloat(document.getElementById("taxes").value)
        let fees = parseFloat(document.getElementById("fees").value)

        total += isNaN(tax) ? 0 : tax
        total += isNaN(fees) ? 0 : fees

        // Update the total box
        document.getElementById("total").value = formatPrice(total)

    }


    function submit(){
        if(getDate() == "NaN undefined, NaN"){
            alert("Please enter a valid date")
            return
        }
        if(document.getElementById("addrDropdown").value == ""){
            alert("Please enter a valid address or select one from the dropdown")
            document.getElementById("addrDropdown").value = "New Address"
            return
        }

        let post_data = {
            "id": document.getElementById("ID").value,
            "date": getDate(),
            "creator": document.getElementById("creator").value,
            "approver": document.getElementById("approver").value,
            "type": getCurrentType(),
            "return_addr": [
                document.getElementById("RA1").value,
                document.getElementById("RA2").value,
                document.getElementById("RA3").value,
                document.getElementById("RA4").value],
            "li": [
                
            ],
            "tax": formatPrice(document.getElementById("taxes").value),
            "fees": formatPrice(document.getElementById("fees").value),
            "total": formatPrice(document.getElementById("total").value),
            "status": getCurrentStatus()
        }
        post_data["addr_desc"] = document.getElementById("addrDropdown").value == "New Address" ? prompt("Enter an address description: ") : document.getElementById("addrDropdown").value


        let table = document.getElementById("products")
        for(let i = 1; i < table.rows.length; i++){
            let item = {
                "line": i,
                "desc": document.getElementById(`prod${i}`).value,
                "ammt": formatPrice(document.getElementById(`price${i}`).value),
                "qty": document.getElementById(`qty${i}`).value,
                "total": formatPrice(document.getElementById(`price${i}`).value * document.getElementById(`qty${i}`).value)
            }
            post_data.li.push(item)
        }
                let xhr = new XMLHttpRequest()
        xhr.open("PATCH", "/invoices/edit/{{id}}")
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.send(JSON.stringify(post_data))
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4){
                if(xhr.status == 201){
                    alert("Record Updated")
                    window.close()
                } else{
                    alert("Error Updating Record")
                }
            }
        }
    }

    </script>
</head>
<body onload="updateBoxes()">
    <h1>Edit Record {{id}}</h1>
    <fieldset id="RAddr">
        <legend>Remit Address</legend>
        <select name="addrDropdown" id="addrDropdown" onchange="updateAddressFromDropdown()">
    {% for item in valid_addr %}
                <option value="{{item[5]}}">{{item[5]}}</option>
            {% endfor %}

            <option value="New Address">New Address</option>
        </select>
        <br>
        <input type="text" id="RA1"> <br>
        <input type="text" id="RA2"> <br>
        <input type="text" id="RA3"> <br>
        <input type="text" id="RA4">
    </fieldset>
    <fieldset id="Type">
        <legend>Record Type</legend>
        {% for valid_type in valid_types %}
            <input type="radio" name="types" id="{{valid_type}}" onchange="updateIfSGA()"> <label for="{{valid_type}}">{{valid_type}}</label><br/>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Record Settings</legend>
        <label for="ID">Record ID</label>
        <input type="text" name="ID" id="ID" disabled> <br>
        <label for="creator">Created By:</label>
        <input type="text" id="creator" disabled><br>
        <label for="approver">Approved By:</label>
        <input type="text" id="approver" {% if status!="pending" or type == "sga_budget"%}
            disabled
        {% endif %}><br>
        <label for="createDate">Creation Date</label>
        <input type="date" name="createDate" id="createDate">
    </fieldset>
    <fieldset>
        <legend>Status</legend>
        {% for valid_status in valid_statuses %}
            <input type="radio" name="statusSelect" id="{{valid_status}}" onchange="updateIfSGA()"> <label for="{{valid_status}}">{{valid_status}}</label><br/>
        {% endfor %}
        
    </fieldset>
    <fieldset>
        <legend>Items</legend>
        <table id="products">
            <tr>
                <th>Line</th>
                <th>Item Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Remove</th>
            </tr>
            {% for product in li %}
                <tr>
                <td>{{product.line}}</td>
                {%  assign lineTotal = product.ammt |  times: product.qty %}
                <td><input type='text' onchange='updateTotal()' id='prod{{product.line}}' value="{{product.desc}}"></td>
                <td><input type='number' onchange='updateTotal()' id="price{{product.line}}" value="{{product.ammt}}"></td>
                <td><input type='number' onchange='updateTotal()' id="qty{{product.line}}" value="{{product.qty}}"></td>
                <td><button onclick="RemoveRow({{product.line}})" title="Cannot remove existing items" disabled>x</button></td>
                </tr>
            {% endfor %}
        </table>
        <button onclick="AddRow()">Add Line</button> <br>
        <label for="taxes">Taxes:</label>
        <input type="text" id="taxes" onChange="updateTotal()"> <br>
        <label for="fees">Fees:</label>
        <input type="text" id="fees" onChange="updateTotal()"> <br>
        <label for="total">Total:</label>
        <input type="text" id="total" disabled>
    </fieldset>
    <button onclick="submit()">Update</button>
    <button onclick="preview()">Preview</button>
</body>

<style>
    html{
        background: gray;
    }
    #RA1, #RA2, #RA3, #RA4{
        width: 97%;
    }
    #RAddr{
        width: 25%;
    }
</style>
</html>