<!DOCTYPE html>
<html lang="en">
<head>
    <!-- NO CACHE! -->
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" type="image/x-icon" href="/invoices/favicon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% if type=="invoice" %}
        Invoice
    {% else %} 
        {% if type=="sga_budget" %}
            SGA Budget 
        {% else %}
            {%if type=="c_invoice" %}
                Credit Invoice
            {% endif %}
        {% endif %}
    {% endif %}
    #{{id}}</title>

    <script>

    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        }
        else
        {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
            end = dc.length;
            }
        }
        // because unescape has been deprecated, replaced with decodeURI
        //return unescape(dc.substring(begin + prefix.length, end));
        return decodeURI(dc.substring(begin + prefix.length, end));
    } 

        var myCookie = getCookie("printing");

        if (myCookie == null) {
            // do cookie doesn't exist stuff;
            alert("Invoice Status: {{status}}")
        }
    </script>

</head>
<body>
    <div class="paper">
        {% comment %} <img src="https://admissions-fitchburgstate-edu.cdn.technolutions.net/www/images/kisspng-bridgewater-state-university-attleboro-clark-unive-5b01d94fa8ee30_333518441526847823692_A.jpg" class="logo"> {% endcomment %}
        <img src="/invoices/logo.jpg" class="logo">
        <div class="retAddr">
        <p>
           {% for item in return_addr %}
            {{item}} <br />
           {% endfor %}
        </p>
    </div>
    <br>
        <hr class="top1">
        <hr class="top2">
        <div id="topSpace"></div>
        <h1 class="hr_text">{% if type=="sga_budget" %}
        SGA Budget
        {% else %}
        Invoice
        {% endif %}</h1>
        <table class="InvInfo">
            <tr>
                <th>{% if type=="sga_budget" %}
                    SGA Budget <br>Request ID
                {% else %}
                Invoice #
                {% endif %}</th>
                <th>Date</th>
                <th>Created By</th>
                <th>Approved By</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{id}}</td>
                <td>{{date}}</td>
                <td>{{creator}}</td>
                <td>{{approver}}</td>
                <td>{{status}}</td>
            </tr>
        </table>
        
        <table class="items">
            <tr>
                <th>line</th>
                <th>Item Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            {% for item in li %}
                <tr>
                    <td>{{item.line}}</td>
                    <td>{{item.desc}}</td>
                    <td>{% if item.ammt[0] == '-' %}
                        -${{item.ammt | slice: 1, 1000 }}
                    {% else %}
                        ${{item.ammt}}
                    {% endif %}</td>
                    <td>{{item.qty}}</td>
                    <td>{% if item.total[0] == '-' %}
                        -${{item.total | slice: 1, 1000 }}
                    {% else %}
                        ${{item.total}}
                    {% endif %}</td>
                </tr>
            {% endfor %}
            {% comment %} <tr style="border-left: 1px solid transparent;">
                <td style="border: none;"></td>
            </tr> {% endcomment %}
            <tr style="padding: 10px;">
                <td colspan=3 style="border: 1px solid transparent;border-right: 1px solid black;"></td>
                <td>Tax</td>
                <td>${{tax}}</td>
            </tr>
            <tr>
                <td colspan=3 style="border: 1px solid transparent;border-right: 1px solid black;"></td>
                <td style="border-left: 1px solid black">Fees</td>
                <td>${{fees}}</td>
            </tr>
            <tr>
                <td colspan=3 style="border: 1px solid transparent;border-right: 1px solid black;"></td>
                <td>Total</td>
                <td>{% if total[0] == '-' %}
                    -${{total | slice: 1, 1000 }}
                {% else %}
                    ${{total}}
                {% endif %}</td>
            </tr>
        </table>
        <hr class="bot1">
        <hr class="bot2">
    </div>
</body>
<style>
    .paper{
        position: absolute;
        width: 8.5in;
        height: 11in;
        /*outline: 1px solid black;*/
        padding: .5in
    }
    #topSpace{
        height: 20px;
    }
    .logo{
        width: 2in;
        display: inline
    }
    .retAddr{
        position: absolute;
        top:.5in;
        right: 1in;
    }
    .top1{
        border: .01in solid crimson;
        border-top: .03in solid Crimson;
        margin-bottom: -6px;
        width: 8.5in;
    }
    .top2{
        border: .01in solid black;
        width: 8.5in;

    }
    h1.hr_text{
        position:absolute;
        font-style: italic;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23pt;
        top: 1.57in;
        text-transform: uppercase;
        {% comment %} outline: 1px solid black; {% endcomment %}
        padding: 3px;
        text-align:center;
        
        {% if type=="sga_budget" %}
            width: 220px;
            left: 5in;
        {% else %}
            width: 144px;
            left: 6in;
        {% endif %}
    }
    fieldset{
        width: 30%;
    }
    html{
        height: 11in;
        width: 8in;
    }
    
    td{
        padding: 4px;
    }
    table, td, th {
        border: 1px solid black;
        text-align: center;
        border-collapse: collapse;
        text-transform: capitalize
    }
    tr{
        margin:10px;
    }
    .InvInfo{
        width: 100%;
    }
    .items{
        margin-top: .1in;
        width: 100%;
    }

    .bot1{
        position: absolute;
        bottom: 0.5in;
        border: .01in solid crimson;
        border-top: .03in solid crimson;
        margin-bottom: -6px;
        width: 8.5in;
    }
    .bot2{
        position: absolute;
        bottom: 0.45in;
        margin-bottom: -6px;
        border: .01in solid black;
        width: 8.5in;

    }
    th, td, tr{
        text-transform: | capitalize;

    }
</style>
</html>