<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Science Club Finances</title>
</head>
<body>
    <button onclick="window.location.href='/new/'">New Finance Record</button>
    <table class="MainTable">
        <tr>
            <th>Item ID</th>
            <th>Record Type</th>
            <th>Created By</th>
            <th>Status</th>
            <th>Items</th>
            <th>Total</th>
            <th>View</th>
            <th>Edit</th>
        </tr>
    {% for item in records %}
        <tr>
            <td style="text-align: center;">{{item.id}}</td>
            <td>{% if item.type=="invoice" %}
                Invoice
            {% else %}
                {% if item.type=="sga_budget" %}
                    SGA Budget Request
                {% else %}
                    {% if item.type=="c_invoice" %}
                        Credit Invoice
                    {% else %}
                        Other
                    {% endif %}
                {% endif %}
            {% endif %}</td>
            <td>{{item.creator}}</td>
            <td>{{item.status}}</td>
            <td>{{item.li | size}}</td>
            <td>{{item.total}}</td>
            <td><button onclick="window.open('/view/{{item.id}}')">Open</button></td>
            <td><button onclick="window.open('/edit/{{item.id}}')">Edit</button></td>
        </tr>
    {% endfor %}
    </table>
</body>
<style>
    .MainTable{
        width: 75%
    }
    table, td, th{
        border-collapse: collapse;
        border: 1px solid black;
        text-transform: capitalize;
    }
</style>
</html>