<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="/utils.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/admin/favicon.ico">

</head>
<body onload="getStyle()">
    <div id="navbar"></div>
    <br>

    {% if success_message != "~" %}
        <span class="error">{{success_message}}</span><br><br>
    {% endif %}

    <form method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" value="{{username}}" disabled> <br><br>

    <label for="password">Password: </label>
    <input type="password" name="password" value="{{password}}"><br><br>
    {% if password_error != "~" %}
        <span class="error">{{password_error}}</span><br><br>
    {% endif %}

    <label for="confirm_password">Confirm Password: </label>
    <input type="password" name="confirm_password" value="{{confirm_password}}"><br><br>
    {% if confirm_password_error != "~" %}
        <span class="error">{{confirm_password_error}}</span><br><br>
    {% endif %}
    <input type="submit" value="Log In">
    </form>
</body>
</html>